.go-up-button {
    display: inline-block;
    position: fixed;
    bottom: 3px;
    right: 3px;
    padding: 0.6em 0.8em;
    background: linear-gradient(45deg, #e22504, #ff6246);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.go-up-button:hover i {
    transition: 0.5s;
    transform: translateY(-2px);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

.container-fluid {
    width: 100%;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* row:after porque vamos a hacer flotaciones */
.row:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}
    
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Inicio Header */
header .nav-top {
background-color: #21242e;
color: white;
padding: 20px 0;
}

header .nav-top .container > div {
    float: left;
    width: 25%;
}

header .nav-top a {
color: white;
text-decoration: none;
font-size: 1.5rem;
}

header .nav-top a span {
    display: none;
}

header .nav-top a i {
    color: #fa573a;
}

header .nav-top .container div:nth-child(3),
header .nav-top .container div:last-child {
text-align: right;
}

/* Inicio nav */
header nav {
    padding: 20px 3%;
}

header .hamburguesa {
    cursor: pointer;
    float: right;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    width: 1.875em;
    margin-bottom: 0.625em;
}

header nav .logo {
    width: 100px;
    float: left;
}

header nav .menu {
    padding-top: 60px;
}

header nav .menu li {
    padding: 1.25em;
    text-align: center;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

header nav .menu li:last-child {
    border: none;
}

header nav .menu li a {
    text-decoration: none;
    color: #aaa;
    display: block;
}

header nav .menu li a.activo,
header nav .menu li a:hover {
    color: #fa573a;
}

main h2 {
    font-family: "Handlee", cursive;
    font-size: 2em;
    text-align: center;
    padding-top: 1.2em;
}

main h2 span {
    color: #fa573a;
}

main .underline {
    position: relative;
    width: 4em;
    margin: 4px auto 2.5em auto;
    font-weight: bold;
    color: #fa573a;
    text-align: center;
}

main .underline hr {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 2px solid #fa573a;
}

main .container {
    padding: 1em 1.2em;
}

main .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .posts article {
    width: 47%;
}

main .posts article .image-wrapper {
    position: relative;
}

main .posts article .image-wrapper > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fa573a;
}

main .posts article .image-wrapper > div span {
    display: block;
    padding: 0.45rem 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

main .posts-container {
    padding: 0.5em;
    padding-bottom: 1.6em;
}

main .posts article h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.7em 0;
}

main .posts article .order-now:hover i {
    transition: 0.5s;
    transform: translateX(5px);
}

main .posts article a {
    color: #fa573a;
    text-decoration: none;
    font-weight: bold;
}

main .posts article i {
    color: #fa573a;
    display: inline-block;
    margin-left: 0.4em;
}

main .posts article p {
    margin: 0.8em 0;
    color: #777;
}

footer {
    background-color: #21242e;
    padding: 1.25em 0;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (min-width: 48.063em) /* 768px */ {
    header .nav-top a span {
        display: inline;
        font-size: 68%;
    }
}

@media (min-width: 62.750em) /* 1004px */ {
    header .hamburguesa {
        display: none;
    }

    header nav .menu {
        padding-top: 0;
        float: right;
    }

    header nav .menu li {
        display: inline-block;
        padding: 0.5em;
        border-bottom: 0;
        text-align: left;
    }

    header nav .menu li {
        padding-right: 0;
    }

    main .posts article {
        width: 31%;
    }

    main .posts-container {
        padding: 0.5em 1em 1.6em 1em;
    }

    main .posts article h3 {
        font-size: 1.2em;
    }
    
    main .posts article a,
    main .posts article p {
        font-size: 0.9em;
    }
}