@import url(./reset.css);
/*@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');*/

/*font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

html{
    /*Generar scrool animado de ancla*/
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
:root{
    /*definir variables repetidas en mi código*/
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Handlee', cursive;
    --font-size: 1em;
    --anchoMaximo: 68.750em; /*1.000px*/
    --margingrid: 1em;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
body{
    font-family: var(--fuente-principal);
    font-size: var(--font-size);
}
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}