@import url(./reset.css);
/*@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');*/

/*font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

html{
    /*Generar scrool animado de ancla*/
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
:root{
    /*definir variables repetidas en mi código*/
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Handlee', cursive;
    --font-size: 1em;
    --anchoMaximo: 68.750em; /*1.000px*/
    --margingrid: 1em;
    --padding: 0.625em;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
body{
    font-family: var(--fuente-principal);
    font-size: var(--font-size);
}
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

/*INICIO HEADER*/
header .nav-top{
    background-color: var(--color-secundario);
    padding: calc(var(--padding) * 2)0px;
}

header .nav-top .container{
    display: flex;
    justify-content: space-around;
}
header .nav-top a{
    color: var(--color-principal);
    text-decoration: none;
}
header .nav-top a span{
    display: none; /*para quitar los textos en el formato movil*/
}
header .nav-top a i{
    font-size: 150%;
}

header nav{
    padding:calc(var(--padding)* 2);
}
header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


header nav .logo{
    width: 50%;
}
header nav .logo img {
    max-width: 6.250em;
}
header nav .hamburguesa{
    cursor: pointer;


}
header nav .hamburguesa div{
    border-bottom: 2px solid #aaa;
    margin-bottom: var(--padding);
    width: 1.875em;

}
header nav ul{
    width: 100%;
    text-align: center;
}
header nav .menu li a {
    display: block;
    width: 100%;
    text-decoration: 0;
    text-align: center;
    padding: calc(var(--padding)* 2px);
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
header nav .menu li:last-child a{
    border-bottom: 0;
}
header nav .menu li .activo, 
header nav .menu li a:hover{
    color: var(--color-principal);
    transition: 1s;
}










/*FINAL HEADER*/

/*INICIO FOOTER*/
footer{
    background-color: var(--color-secundario);
    text-align: center;
    padding: calc(var(--padding)*2) 0px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: var(--color-principal);
}
.flecha a{
    display: block;
    color: var(--color-principal);
    position: fixed;
    bottom: 70px;
    right:10px;
    font-size: 300%;
}


/*FINAL FOOTER*/

/*mediaqueries
600, 768, 1004*/
@media(min-width:600px){

}

@media(min-width:768px){
    header .nav-top a span{
        display: inline;
        color: white;
        font-size: 120%;
        margin-left: 5px;
    }
}

@media(min-width:1004px){
    header nav .hamburguesa{ /*ocultamos el menu hamburguesa*/
        display: none;
    }
    header nav ul{
        width: auto;
    }
    header nav .menu li{
        display: inline-block;
    }
    header nav .menu li a{
        padding: 0.5em var(--padding);
        border-bottom: 0;
    }
    header{
        box-shadow: 0px .2px 3px gray;
    }
}